ipykernel
python-box 
python-dotenv 
PyYAML
requests
toml
fastapi 
fastapi[standard] 
PyMuPDF
python-docx
beautifulsoup4
selenium
pytesseract
Pillow
python-magic
jsonschema
camelot-py
pandas
ipywidgets 
