aiofiles
beautifulsoup4
camelot-py
fastapi[standard]
firecrawl-py
ipykernel
ipywidgets
jsonschema
langchain-google-genai
pandas
pillow
pymongo
pymupdf
pytesseract
python-box
python-dateutil
python-docx
python-dotenv
python-magic
pyyaml
requests
scikit-learn
selenium
sentence-transformers
toml
gcloud
google-cloud-storage
